
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar-title {
  font-size: 20px;
  margin: 0 auto; /* Center horizontally */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.premium-link {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px; /* Adjust margin top for spacing */
  }
  
  .calculator-title {
    font-size: 24px;
  }
  
  .calculator {
    border: 2px solid #ccc; /* Border around the calculator */
    padding: 20px;
  }
  
  .result-input {
    width: 91%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
  }
  
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns grid layout */
    gap: 10px; /* Gap between buttons */
  }
  
  .button-grid button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
  
  /* Pop up CSS */

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .popup-header {
    display: flex;
    justify-content: space-between;
  }
  
  .popup-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }
  
  .popup-header button.active {
    background-color: #ccc;
  }
  
  .close-btn {
    font-size: 18px;
  }
  
  .signup-form,
  .signin-form {
    margin-top: 20px;
  }
  
  .signup-form h2,
.signin-form h2 {
  text-align: center;
}

.signup-form form,
.signin-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select {
  appearance: none;
}

.form-group select::-ms-expand {
  display: none;
}

.form-group select option[selected] {
  background-color: #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}